<h3>개인정보</h3>
<% member_view.forEach(member=>{ %>

id: <%= member.INFO_ID %><br />
pw: <%= member.INFO_PW %><br />
name: <%= member.INFO_NAME %></a><br />
region: <%= member.INFO_REGION %><br />
img: <%= member.INFO_IMG %><br />
phone: <%= member.INFO_PHONE %><br />
admin: <%= member.INFO_ADMIN %><br />
point: <%= member.INFO_POINT %><hr />
<% }) %>
<a href="">수정</a>
<a href="">삭제</a>
<a href="/info/list">목록이동</a>

